<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search Result</title>
</head>
<body>
    <section>
        <h1 data-th-if="${not #lists.isEmpty(books)}">Search result for <span data-th-text="${searchTerm}"></span></h1>
        <h1 data-th-if="${#lists.isEmpty(books)}">No results found</h1>
    </section>
    <section data-th-if="${books} != null">
        <ul>
            <li data-th-each="b: ${books}">
                <a data-th-href="${b.workId}" data-th-text="${b.bookTitle}"></a>
                <span data-th-text="${b.workId}"></span>
            </li>
        </ul>
    </section>
    <section>
        <button type="button"><a href="/">Back</a></button>
    </section>
</body>
</html>